<p>home-container works!</p>
<div class="container my-2">
  <h1 class="text-3">Cook, Eat, Repeat</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam officia
    voluptatem tempora possimus, eaque molestias magni soluta eos, veniam itaque
    neque laborum rerum non sunt sequi reprehenderit est minima nesciunt.
  </p>
  <a href="#"></a>
</div>

<div>
  <!-- our dishes con link -->
</div>

<!-- Our philosophy -->
<div class="container mt-5">
  <h2>Our philosophy</h2>
  <div class="container d-flex px-0 justify-content-between">
    <div class="row">
      <div class="col-8 py-4">
        <p class="quote">
          You must be imaginative, strong-hearted. You must try things that may
          not work, and you must not let anyone define your limits because of
          where you come from. Your only limit is your soul. What I say is true
          - anyone can cook... but only the fearless can be great.
        </p>
      </div>
      <div class="col-1 offset-md-1">
        <img
          src="../../assets/images/img-august-gusteau.png"
          alt="Photo of Auguste Gusteau"
        />
      </div>
    </div>
  </div>
  <img
    class="signature"
    src="../../assets/images/auguste_gusteau-signature.png"
    alt="signature of Auguste Gusteau"
  />
</div>
<!-- subscription newsletters -->
<div class="w-100 bg-lightgreen my-5">
  <div class="container py-5">
    <h3 class="mb-5">Stay up to date on new recipes</h3>
    <form class="row">
      <div class="col">
        <input
          type="name"
          class="form-control p-2 rounded-3"
          id="name"
          placeholder="name"
        />
      </div>
      <div class="col">
        <input
          type="email"
          class="form-control p-2 rounded-3"
          id="email"
          placeholder="email"
        />
      </div>
      <div class="col">
        <button
          type="submit"
          class="btn submit white dark-gren w-100 rounded-3"
        >
          Subscribe
        </button>
      </div>
    </form>
  </div>
</div>

<!--
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
