<div class="container my-5 d-flex">
  <div class="align-self-center banner">
      <h1 class="text-3">Cook, Eat, Repeat</h1>
      <p>Every day a perfect recipe. <br> Search and filter through our entire library of delicious recipes. Cherish your loved ones and feed them well.</p>
      <a href="#">Get our latest recipes!</a>
  </div>
  <img src="../../../../assets/images/img-banner.png" alt="salad" id="img-banner">
</div>

<div class="container">
  <h2 class="text-3">Our Dishes</h2>
  <div class="d-flex justify-content-between">
      <div class="card w-25 p-2 d-flex flex-column justify-content-between align-items-center">
        <p class="text-center">Hundreds of main dish recipes. Choose from top-rated comfort food, healthy, and vegetarian options. Find your dinner star now!</p>
        <a href="javascript:void(0)" routerLink="/meals/main courses" class="text-4">Main Dishes</a>
      </div>
      <div class="card w-25 p-2 d-flex flex-column justify-content-between align-items-center">
        <p class="text-center">Make dinner complete with the best side dish recipes! Find the perfect match for your main dish.</p>
        <a href="javascript:void(0)" routerLink="/meals/side dishes" class="text-4">Side Dishes</a>
      </div>
      <div class="card w-25 p-2 d-flex flex-column justify-content-between align-items-center">
        <p class="text-center">Whether you crave sweet, savory, decadent or healthy, we have hundreds of top-rated dessert recipes to satisfy your taste buds.</p>
        <a href="javascript:void(0)" routerLink="/meals/desserts" class="text-4">Dessert</a>
      </div>
  </div>
</div>

<div>
  <!-- ratatouille -->
</div>

<div>
  <!-- form -->
</div>
