#img-banner {
  width: 45%;
}

.banner > p {
  line-height: 30pt;
  font-size: larger;
}
.banner > a{
      background-color: #a3da8d;
      text-decoration: none;
      transition: 0.4s;
      color: white;
      padding: 2% 4.5%;
      border-radius: 25px;
      font-weight: 600;
      letter-spacing:0.1rem;
      border:solid 1px transparent;
      &:hover{
        background-color: white;
        color: #a3da8d;
        border:solid 1px #a3da8d 
      }  
}

.banner > h1 {
  font-weight: 700;
  font-size: 65px;
}
h2{
  font-size:45px;
  font-weight: 700;
  margin-bottom:26px
}


.card {
  border: none;
  .mealtype-img{
    max-width:250px
  }
}

.card > a {
  border-radius: 38px;

  text-align: center;
  text-decoration: none;
  width: 50%;

  background-color: #a3da8d;
  color: white;
  font-weight: 600;
}

.card > a:hover {
  color: #fef1bd;
  background-color: #166457;
  transition: 0.5s;
}

.signature {
  width: 20rem;
}

.bg-lightgreen {
  background-color: #a3da8d;
}

.dark-gren {
  background-color: #146356;
}

.quote {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size:18px
}

.white {
  color: #fff;
}
button.submit{
  border: solid 2px transparent
}
button.submit:hover {
  border: 2px solid #146356;
  color: #146356;
  background-color: white;
}
