#img-banner{
  width: 45%;
}

.banner > p{
  line-height: 30pt;
  font-size: larger;
}

.banner > a{
text-decoration: none;
background-color: #A3DA8D;
color: white;
padding: 3%;
border-radius: 25px;
}

.banner > a:hover{
  background-color: white;
  color: #A3DA8D;
  transition: 0.4s;
  font-weight: bolder;
}

.card{
  background-color: #fef1bd;
  border-radius: 38px;
}

.card > a{
  border-radius: 38px;
  border: solid 5px #166457;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.card > a:hover{
  color: #fef1bd;
  background-color: #166457;
  transition: 0.5s;

}


.signature {
  width: 20rem;
  position: absolute;
  top: 85%;
  right: 30%;
}

.bg-lightgreen {
  background-color: #a3da8d;
}

.dark-gren {
  background-color: #146356;
}

.quote {
  font-family: "Roboto", sans-serif;
}

.white {
  color: #fff;
}

button.submit:hover {
  border: 2px solid #146356;
  color: #146356;
  background-color: white;
}
