<div class="container my-5 py-4 d-flex">
  <div class="align-self-center banner">
    <h1 class="text-3">Cook, Eat, Repeat</h1>
    <p>
      Every day a perfect recipe. <br/>
      Search and filter through our entire library of delicious recipes. Cherish
      your loved ones and feed them well.
    </p>
    <p> Use the filter to see the variety of recipes on offer allowing you to whip up a tasty home cooked meal every day</p>
    <a href="#">See our latest recipes!</a><!-- COLLEGARLO CON QUALCHE PUNTO DELLA PAGINA -->
  </div>
  <img src="../../../../assets/images/img-banner.png" alt="salad" id="img-banner"/>
</div>

<!-- Our dishes -->
<div class="container my-5 py-5">
  <h2 class="text-3">Our Dishes</h2>
  <div class="d-flex justify-content-between my-4">
    <div class="card w-25 p-2 d-flex flex-column justify-content-between align-items-center">
      <img src="../../../../assets/images/main.png" alt="main dish" />
      <p class="text-center">
        Hundreds of main dish recipes. Choose from top-rated comfort food,
        healthy, and vegetarian options. Find your dinner star now!
      </p>
      <a href="javascript:void(0)" routerLink="/meals/main courses" class="text-4">Main Dishes</a>
    </div>
    <div class="card w-25 p-2 d-flex flex-column justify-content-between align-items-center">
      <img src="../../../../assets/images/side.png" alt="side dish"/>
      <p class="text-center">
        Make dinner complete with the best side dish recipes! Find the perfect
        match for your main dish.
      </p>
      <a href="javascript:void(0)" routerLink="/meals/side dishes" class="text-4">Side Dishes</a>
    </div>
    <div class="card w-25 p-2 d-flex flex-column justify-content-between align-items-center">
      <img src="../../../../assets/images/cake.png" alt="dessert" />
      <p class="text-center">
        Whether you crave sweet, savory, decadent or healthy, we have hundreds
        of top-rated dessert recipes to satisfy your taste buds.
      </p>
      <a href="javascript:void(0)" routerLink="/meals/desserts" class="text-4">Dessert</a>
    </div>
  </div>
</div>

<!-- Our philosophy -->
<div class="container mt-5">
  <h2 class="text-3">Our philosophy</h2>
  <div class="container d-flex px-0 justify-content-between">
    <div class="row">
      <div class="col-8 py-2">
        <p class="quote">
          You must be imaginative, strong-hearted. You must try things that may
          not work, and you must not let anyone define your limits because of
          where you come from. Your only limit is your soul. What I say is true
          - anyone can cook... but only the fearless can be great.</p>
      </div>
      <div class="col-1 offset-md-1">
        <img src="../../assets/images/img-august-gusteau.png" alt="Photo of Auguste Gusteau"/>
      </div>
    </div>
  </div>
  <img class="signature" src="../../assets/images/auguste_gusteau-signature.png" alt="signature of Auguste Gusteau"/>
</div>

<!-- subscription newsletters -->
<div class="w-100 bg-lightgreen my-5">
  <div class="container py-5">
    <h3 class="mb-5 text-4">Stay up to date on new recipes</h3>
    <form class="row">
      <div class="col">
        <input type="name" class="form-control p-2 rounded-3" id="name" placeholder="name"/>
      </div>
      <div class="col">
        <input type="email" class="form-control p-2 rounded-3" id="email" placeholder="email"/>
      </div>
      <div class="col">
        <button type="submit" class="btn submit white dark-gren w-100 rounded-3">Subscribe</button>
      </div>
    </form>
  </div>
</div>
