<app-search (onSearch)="search($event)"></app-search>
<app-recipes [recipes$]="recipes$" (selectRecipe)="getRecipeById($event)"></app-recipes>
<ng-container *ngIf="modalSkeletonLoader || (currentRecipe$ | async)" >
    <div class="modal-container" (click)="closeModal()"[@onOpen]>
        <app-recipe-modal class="mod col-12 col-sm-10 col-md-9 col-xl-6 m-0 p-0" [recipeDetails$]="currentRecipe$" [modalSkeletonLoader]="modalSkeletonLoader" (closeModal)="closeModal()" (click)="$event.stopPropagation()"></app-recipe-modal>
    </div>
</ng-container>
