<div class="container pt-5 px-0 position-relative">
    <h1 class="text-3 mx-3 display-5 w-100 text-center text-sm-left"><b>{{mealType | titlecase}}</b></h1>
    <app-search (onSearch)="search($event)" class="position-relative" style="z-index:2!important"></app-search>
    <app-recipes *ngIf="!(searchError$ | async); else Error" [recipes$]="recipes$" [mealType]="mealType" (selectRecipe)="getRecipeById($event)"></app-recipes>
    <ng-template #Error>
        <div class="container d-flex flex-column align-items-center py-5 my-5 text-danger">
            <h1><b>OOPS!</b></h1>
            <h2><b>Something bad happened.</b></h2>
            <h2><b>Sorry, we are still learning!</b></h2>
        </div>
    </ng-template>
    <ng-container *ngIf="modalSkeletonLoader || (currentRecipe$ | async)" >
        <div class="modal-container" (click)="closeModal()"[@onOpen]>
            <app-recipe-modal class="mod col-12 col-sm-12 col-md-9 col-xl-12 m-0 p-0" [recipeDetails$]="currentRecipe$" [modalSkeletonLoader]="modalSkeletonLoader" (closeModal)="closeModal()" (click)="$event.stopPropagation()"></app-recipe-modal>
        </div>
    </ng-container>
</div>

