<nav class="navbar container d-flex flex-space-between ">
  <a class="navbar-brand" href="#" routerLink="home">
    <img src="../../../assets/logo1.png" alt="logo foodies">
  </a>

  <ul class="nav d-flex pt-4">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="javascript:void(0)" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" routerLink="/meals/main courses">Main Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" routerLink="/meals/side dishes">Side Dishes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" routerLink="/meals/desserts">Desserts</a>
    </li>
  </ul>
</nav>
